@font-face {
  font-family: "Aeonik";
  src: url(fonts/AeonikTRIAL-Regular.otf);
}

:root {
  --main-color: #f5f3f0;
  --text-color: #232121;
  --paragraph-color: #656464;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
  font-family: Aeonik, "Segoe UI", Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

small {
  text-transform: uppercase;
  display: block;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 200px;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.arrow-down {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hero img {
  max-width: 500px;
  border-radius: 25px;
}

.hero h1 {
  font-size: 8rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.presentation,
.goal {
  display: inline-block;
  width: 40%;
  color: var(--paragraph-color);
}

.presentation {
  padding-right: 50px;
  margin-top: 50px;
}

.weather-project-container,
.itineraryai-project-container {
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(6, 200px);
  justify-content: center;
}

.weather-project-description,
.itineraryai-project-description {
  align-self: center;
  border: 1px solid var(--paragraph-color);
  border-radius: 10px;
  grid-row: 1 / 3;
  grid-column: 1 / 5;
  padding: 80px;
}

.weather-project-overview,
.itineraryai-project-overview {
  align-self: center;
  grid-row: 1 / 3;
  grid-column: 4 / 7;
}

.weather-project-overview img,
.itineraryai-project-overview img {
  width: 600px;
  border-radius: 10px;
  box-shadow: 5px -3px 8px rgba(0, 0, 0, 0.2)
}

.weather-project-description p,
.itineraryai-project-description p {
  width: 400px;
  font-size: 18px;
  color: var(--paragraph-color);
}

.weather-project-description h4,
.itineraryai-project-description h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--text-color);
}

.weather-project-description button,
.itineraryai-project-description button {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid var(--paragraph-color);
  margin-right: 50px;
  transition: all 200ms ease-in;
}

.weather-project-description button:hover,
.itineraryai-project-description button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.github-link:hover {
  text-decoration: underline;
}

/* xss */

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .hero img {
    max-width: 150px;
  }

  .presentation,
  .goal {
    display: inline;
    font-size: 0.5rem;
  }
}

/* xs */

@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  .hero h1 {
    font-size: 2.75rem;
  }

  .hero img {
    max-width: 200px;
  }

  .presentation,
  .goal {
    display: inline;
    font-size: 0.5rem;
  }
}

/* sm */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .hero h1 {
    font-size: 3.5rem;
  }

  .hero img {
    max-width: 300px;
  }

  .presentation,
  .goal {
    display: inline-block;
    font-size: 0.6rem;
  }
}

/* md */

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero h1 {
    font-size: 4.5rem;
  }
}

/* lg */

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .hero h1 {
    font-size: 6rem;
  }

  .hero img {
    max-width: 400px;
  }

  .presentation,
  .goal {
    display: inline-block;
    font-size: 0.8rem;
  }
}

/* xl */

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .hero h1 {
    font-size: 8rem;
  }

  .hero img {
    max-width: 500px;
  }
}

/* 2xl */

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .hero h1 {
    font-size: 9rem;
  }

  .hero img {
    max-width: 600px;
  }
}
